.main {


}
#toolButton {

    -fx-background-color:  #494850;
    -fx-pref-width: 42px;
    -fx-pref-height: 42px;
}

#toolButton:hover {
    -fx-background-color: #2D2D33;
}

#toolButton:disabled {

    -fx-opacity: 1;
    -fx-background-color:  #27272B;
    -fx-pref-width: 42px;
    -fx-pref-height: 42px;
}

.imageView:hover {
    -fx-background-color: #2D2D33;
    -fx-opacity: 0.6;
    -fx-pref-width: 26px;
    -fx-pref-height: 26px;
    -fx-fit-width: 26px;
    -fx-fit-height: 26px;
}

.vbox {
    -fx-background-color: #39393F;
    -fx-border-color: #2D2D33;
    -fx-border-width: 1px 1px 1px 1px;
}

.titledPane {

}

.textField {
    -fx-max-height: 4px;
    -fx-font-size: 10px;
    -fx-text-fill: #C4C0C4;
    -fx-background-color: #2D2D33;
    -fx-alignment: center-right;


}

#propertiesText {
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-text-fill: #C4C0C4;

}

.hBox {

}

.separator:horizontal .line {
    -fx-border-insets: 0;
    -fx-border-color: #2D2D33;
}

#optionsTitle {
    -fx-padding: 0px 0px 0px 12px;
    -fx-text-fill: #C4C0C4;
}

.titled-pane {
    -xf-background-color: #39393F;
}

.menuBar {
    -fx-background-color: #39393F;
    -fx-border-color: #2D2D33;
    -fx-border-width: 1px 1px 1px 1px;
}

.menu .label {
    -fx-text-fill: #C4C0C4;
}

.scroll-pane {
    -fx-background-color: #494850;

}

.scroll-bar:horizontal,
 .scroll-bar:vertical {
    -fx-background-color: #39393F;
    -fx-border-color: #2D2D33;
    -fx-border-width: 1px 1px 1px 1px;
}
.scroll-bar:horizontal.track,
.scroll-bar:vertical.track {
    -fx-background-color: #39393F;
    -fx-background-radius: 0em;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #494850;
    -fx-background-radius: 5em;

}

.scroll-pane > .corner {
    -fx-background-color: #494850;
}

.pane {
}

#canvasPane{
    -fx-alignment: center;
}

.color-picker {
    -fx-background-color: #494850;
}

.color-picker: hover {
    -fx-background-color: #2D2D33;
}

.color-picker .color-picker-label .text {
    -fx-fill: #C4C0C4;                                                      //text color
}
